# Bermuda Long-term Insurance Market Analysis and Stress Testing Report 

BMA, December 2024

Table of Contents

    Acronyms ..... 2

    1. Executive Summary ..... 4
    2. Introduction ..... 6
    3. Methodology ..... 7
    4. Bermuda's Commercial Long-term Insurance Sector ..... 9
    4.1 Overview of the Sector. ..... 9
    4.2 Additional Performance Indicators ..... 12
    4.3 Lines of Business and Geographical Breakdown of Policyholder Claims and Benefits Paid and Reserves ..... 13
    4.4 Asset, Reserve and Liquidity Indicators ..... 15
    5. Stress Testing Analysis ..... 19
    5.1 Summary of Capital and ECR Impact of Financial Market Scenarios (R1 to R8) ..... 20
    5.2 Summary of Liquidity Stress Test (R9) ..... 26
    6. Bermuda Long-term Sector Highlights from Other BMA Reports ..... 27

Acronyms

| ABS | Asset-backed Securities |
| :---: | :---: |
| BEL | Best Estimate Liability |
| BMA | Bermuda Monetary Authority |
| BSCR | Bermuda Solvency Capital Requirement |
| C\&S | Capital and Surplus |
| CSR | Capital and Solvency Return |
| DCF | Discount Cash Flows |
| EBS | Economic Balance Sheet |
| ECR | Enhanced Capital Requirement |
| FX | Foreign Exchange |
| GWP | Gross Written Premium |
| LCR | Liquidity Coverage Ratio |
| LT | Long-term |
| MBS | Mortgage-backed Securities |
| NAIC | National Association of Insurance Commissioners |
| NWP | Net Written Premium |
| SBA | Scenario Based Approach |
| TCL | Target Capital Level |
| TVaR | Tail Value-at-Risk |
| US | United States |
| y/y | year-over-prior-year |

Bermuda Long-term Insurance Market Analysis and Stress Testing Report

This is the Authority's second publication of the Bermuda Long-term Insurance Market Analysis and Stress Testing Report. The report is the result of an internal analysis conducted by BMA staff.


Abstract

About the BMA The BMA was established by statute in 1969, and its role has evolved over the years to meet the changing needs in Bermuda's financial services sector. Today, the Authority supervises, regulates and inspects financial institutions operating in the jurisdiction. It also issues Bermuda's national currency, manages exchange control transactions, assists other authorities with detecting and preventing financial crime and advises the Government of Bermuda on banking and other financial and monetary matters.


The BMA develops risk-based financial regulations that apply to the supervision of Bermuda's banks, trust companies, investment businesses, investment funds, fund administrators, money service businesses, corporate service providers, insurance companies, digital asset businesses and digital asset issuances. It also regulates the Bermuda Stock Exchange and the Bermuda Credit Union.

## 1. Executive Summary

This report marks the second edition of this publication on Bermuda's commercial long-term insurance sector. The first report targeted several improvements to future reports. The following are highlights of the improvements made in this edition:

- In addition to reporting on 2023 year-end results, Section 4 of the report now covers five years of historical indicators (2019-2023) with the inclusion of data from the 2020 and 2019 financial years
- The year-end 2023 market stress tests relating to inflation and yield curve stresses were updated in the Capital and Solvency Return; the analysis of the results is presented in Section 5
- The Authority has published several reports on key characteristics of Bermuda's longterm sector, including a publication on liquidity stress testing. Highlights of the liquidity stress report are included in this report

Drawing from filings submitted to the BMA, this report intends to highlight key market characteristics of Bermuda's commercial long-term insurance sector. The growth of this sector is driven by demand from direct insurers or institutions using reinsurance for exposure, risk, balance sheet volatility and capital management in light of the challenging economic environment and an ageing population with improved mortality. The Authority, in applying a risk-based supervisory approach, continues to enhance its supervisory framework and has made several enhancements specific to long-term insurers.

In terms of total assets, the report shows that the Bermuda long-term sector grew by $15.6 \%$ in 2023. In terms of gross written premiums, the sector recorded US\$169.8 billion of premiums, up $24.0 \%$ over the prior year. As of year-end 2023, approximately two-thirds of the long-term sector reserves are allocated to longevity and financial business, and the remaining business is related to mortality and critical illness. The United States (US) accounted for more than 70\% of Bermuda's long-term insurers' reserves, followed by Asia. European business (including the United Kingdom) continues to represent less than 5\% of the allocated reserves.

The largest asset allocation for the sector was in corporate bonds, representing 55.7\% of total investments at year-end 2023. Fixed-income securities with an investment-grade rating comprised more than $75 \%$ of total investments at the 2023 year-end and for the four prior years presented. Securities with sub-investment grade ratings were less than $3.1 \%$ of total
investments, and less than 1.2\% of total investments were unrated. Additionally, 17.3\% of total investments were in the non-fixed-income class.

The sector had a robust solvency position with a median solvency ratio of $259 \%$ at year-end 2023. On an individual basis, firms were well-positioned capital-wise to absorb the impacts of the prescribed adverse financial market stress scenarios. Overall, the sector demonstrated resilience to the stress tests.

The enhanced liquidity stress test indicated Bermuda long-term insurers maintain a substantial portion of their assets in liquid forms resulting in high liquidity coverage ratios under normal and distressed circumstances that are against the BMA's minimum liquidity coverage ratio. However, the Authority identified several firms that face liquidity shortages under the prescribed stress scenarios and is undertaking engagement with these firms to ensure adequate risk mitigation measures are in place.

## 2. Introduction

Drawing from the long-term insurers' annual Capital and Solvency Return (CSR) and survey data, this report gives an overview of Bermuda's long-term insurance sector and stress testing analysis at a macro level.

The first section of this report outlines the methodology used, including data collection, its basis and the periods covered. The methodology also includes the limitations of this report, in addition to describing the types of exhibits and metrics used to describe the reporting data.

The second section provides an overview of the current landscape of Bermuda's long-term insurance sector and outlines key market indicators in terms of assets, liabilities, solvency, profitability and liquidity.

The third section of the report provides an overview of the stress testing analysis. Stress testing is used to assess the capacity of individual insurers and the sector's ability to withstand the impact of various severe but plausible events. Stress testing is a valuable supervisory tool for the BMA as it provides supervisors with a forward-looking perspective of the resilience of individual insurance entities and the sector. Furthermore, the stress and scenario testing results help the Authority identify the concentration of risk and new and/or emerging risks, as well as help to assess how insurers are responding to such risks.

Bermuda long-term insurers are required to carry out rigorous and comprehensive forwardlooking stress tests. These aim to measure the sensitivity of insurers' statutory capital and surplus in various adverse financial markets and stress their assets to determine their exposure to liquidity constraints. This report provides aggregated market results for Bermuda long-term insurers' capital and liquidity adequacy, under prescribed stress testing scenarios, to withstand severe but remote losses from various possible events that might adversely impact their economic balance sheets (i.e., assets, liabilities, capital and surplus).

The BMA does not use the stress testing exercise to determine required capital levels. Nonetheless, this exercise does help the Authority evaluate if the risk assumed by Bermuda insurers is commensurate to each insurer's risk appetite. This information ultimately informs the BMA's risk-based supervisory approach, and any capital adequacy concerns identified during this exercise are addressed as part of the Authority's normal supervisory oversight.

## 3. Methodology

Figures used in Section 4 of the report utilise data from the unconsolidated statutory financial statement submitted in the Bermuda annual returns (i.e., the Capital and Solvency return ${ }^{1}$ ) of insurers with a Class C, Class D or Class E license for the periods ending 31 December 2019 through to 31 December 2023². Figures used in Section 5 of the report utilise the stress testing data firms submit in Schedule $\mathrm{V}(\mathrm{e})$ of the annual return, which includes the qualitative information provided to the Authority by insurers on their stress testing practices.

The BMA's risk-based supervisory framework is continuous in nature and the cohort of firms and/or firms' data used to generate this report may change after November 2024. Please note the following limitations of the figures stated in this report:

- The scope of firms included in this report and the data used is accurate as of November 2024
- Insurers can submit financial statements based on the General Accepted Accounting Principles (GAAP) and International Financial Reporting Standards (IFRS) method approved by the Authority. Recent accounting standard amendments to IFRS resulted in several limitations on aggregating data and its comparability year-over-year. This may result in changes to certain values in future reports.

Although every effort is made to ensure the accuracy of reported figures, please note that new or re-submitted information may lead to variations in aggregates compared to prior reports or to other reports published by the BMA.

The Authority continually monitors trends and market developments, including evolving risks and business models, and adjusts its regime according to international standards. In general, enhancements and changes made to the Authority's reporting framework provide more data and a higher level of detail. However, these changes may require adjustments to methodologies, thereby limiting aggregation and year-over-prior-year ( $\mathrm{y} / \mathrm{y}$ ) comparability at a macro level. Where there is a material effect, an explanatory footnote will be provided.

[^0]The BMA only aggregates data where it is possible to do so. To supplement aggregated data, boxplots (also called box and whisker plots) are used in some analyses to describe the distribution of individual results, presenting various percentiles and the median.

The stress/scenario impact and effects reported here are instantaneous in that they are observed immediately upon the occurrence of the event (i.e., the stress/scenario) as determined by the insurer's internal and/or vendor model(s), both with and without the effect of reinsurance and/or other loss mitigation instruments. The stress/scenarios were run against the insurers' balance sheet positions and aggregated in-force exposures as of year-end 2023.

The analysis in this report is based on the original CSR data input. No references were made to other supporting documents required separately for the CSR filing. These additional documents are reviewed by the Authority's supervisory team at the micro-level in the context of individual insurers. As such, this report does not reflect subtle nuances provided by an insurer's full return.

Reported ratios are presented by taking the proportion of the respective metric to the population total. The resulting percentage will reflect large insurance groups that may influence the market results. In response to this issue, the median statistic was also included (as it is less distorted by outliers), and extreme outliers were occasionally removed from the sample.

Many factors influence the change in a long-term insurer's capital position from one year to the next, such as, but not limited to, new business strain, lapsation of existing business, operating gains/losses, mark-to-market valuations, capital withdrawals/injections, reinsurance strategy, investment performance, taxation and changes in best estimate liability assumptions. While we present a comparison of overall results below, it is difficult to draw conclusions with respect to individual factors causing observable differences.

The Bermuda Solvency Capital Requirement (BSCR) and its individual components are calibrated to Tail Value-at-Risk (TVaR) at a 99\% confidence level over the one-year time horizon and encompasses all quantifiable material risks (i.e., market, credit, insurance and operational risks). Assets and liabilities are measured consistently according to the EBS framework, which is an economic valuation framework used as the basis for the solvency ratios. Insurance technical provisions are decomposed into best-estimate liability and risk margin components.

## 4. Bermuda's Commercial Long-term Insurance Sector

### 4.1 Overview of the Sector

Bermuda has a multi-licence system of regulation that categorises licensees into general insurance company classes, long-term insurance company classes, limited and special purpose insurer classes, innovative classes, collateralised insurer classes and intermediaries. For regulatory and supervisory purposes, the Bermuda commercial long-term sector is broadly classified by the following licence classes, i.e.:

- Class C: Long-term insurers and reinsurers with total assets of less than $\$ 250.0$ million that are not registrable as a Class A or Class B insurer ${ }^{3}$. Class C insurers are required to maintain eligible capital and surplus equal to, or in excess of, the ECR, which corresponds to the greater of 1) the BSCR, 2) an asset-based formula, and 3) a \$500,000 floor
- Class D: Long-term insurers and reinsurers with total assets of $\$ 250.0$ million or more but less than $\$ 500.0$ million and not registrable as a Class A or Class B insurer. Class D insurers are required to maintain eligible capital and surplus equal to, or in excess of, the ECR, which corresponds to the greater of 1) the BSCR, 2) an asset-based formula, and 3) a \$4.0 million floor
- Class E: Long-term insurers and reinsurers with total assets of more than $\$ 500.0$ million that are not registrable as a Class A or Class B insurer. Class E insurers are required to maintain eligible capital and surplus equal to, or in excess of, the ECR, which corresponds to the greater of 1) the BSCR, 2) an asset-based formula, and 3) an \$8.0 million floor

Bermuda's long-term insurance sector continues to experience growth that is aligned with global demand for and supply of long-term (re)insurance products and solutions. This is driven by a variety of trends, including the availability of reinsurance, profitability, the investment environment and social and demographic trends.

[^1]As of year-end 2023, firms had written gross written premiums of US\$169.8 billion for the year and net written premiums of US\$125.7 billion, an increase of $24.0 \%$ and $27.7 \%$, respectively. Insurers held total assets of US\$1,274.6 billion at year-end 2023 against total liabilities of US\$1,139.6 billion. Net income for the sector was down slightly $y / y$.

Table 4.1.1 Bermuda Long-term Insurance Sectoral Highlights

| (In US\$ billions unless <br> indicated otherwise) | 2023 | 2022 | 2021 | 2020 | 2019 | Y/Y Change (\%) |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: |
| Gross Written Premiums | 169.8 | 137.0 | $\mathbf{1 3 5 . 7}$ | $\mathbf{1 7 1 . 5}$ | $\mathbf{8 0 . 3}$ | 24.0 |
| Net Written Premiums | $\mathbf{1 2 5 . 7}$ | $\mathbf{9 8 . 4}$ | $\mathbf{1 0 0 . 9}$ | $\mathbf{1 1 8 . 2}$ | $\mathbf{7 2 . 6}$ | 27.7 |
| Net Income | $\mathbf{1 0 . 4}$ | $\mathbf{1 1 . 0}$ | $\mathbf{1 5 . 0}$ | $\mathbf{1 5 . 7}$ | $\mathbf{1 8 . 3}$ | -6.0 |
| Total Policyholder Claims and <br> Benefits Paid | $\mathbf{6 7 . 2}$ | $\mathbf{6 1 . 5}$ | $\mathbf{5 0 . 4}$ | $\mathbf{5 2 . 8}$ | $\mathbf{3 6 . 6}$ | 39.3 |
| Total Assets | $\mathbf{1 , 2 7 4 . 6}$ | $\mathbf{1 , 1 0 0 . 8}$ | $\mathbf{1 , 0 7 0 . 6}$ | $\mathbf{8 6 2 . 8}$ | $\mathbf{6 6 3 . 5}$ | 15.8 |
| Total Liabilities | $\mathbf{1 , 1 3 9 . 6}$ | $\mathbf{9 8 4 . 0}$ | $\mathbf{9 4 1 . 1}$ | $\mathbf{7 4 3 . 8}$ | $\mathbf{5 6 6 . 2}$ | 15.8 |
| "AAA-BBB" <br> Assets/Policyholder Claims <br> and Benefits Paid (\%) | $\mathbf{1 , 1 1 7 . 5}$ | $\mathbf{9 9 9 . 6}$ | $\mathbf{1 , 0 9 1 . 0}$ | $\mathbf{8 3 0 . 6}$ | $\mathbf{8 9 3 . 8}$ | 11.8 |

Summary of Y/Y movements:

Figure 4.1.2 Boxplot of ECR Ratios at YE2023 - YE2019
Bermuda Long-term Sector ECR Ratio Boxplot
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-11.jpg?height=535&width=1129&top_left_y=1486&top_left_x=498" alt="image" style="width:100%;height:auto;">

- The median ECR Ratio was 259\% at year-end 2023, indicating that Bermuda's longterm sector continues to maintain healthy capital positions. The boxplots above provide the $25^{\text {th }}$, median and $75^{\text {th }}$ percentile of the distribution of ECR ratios, with the whiskers representing the distance to the $10^{\text {th }}$ (lower whisker) and $90^{\text {th }}$ percentiles (upper whisker). The ECR ratio at the tenth percentile was $146 \%$.

[^2]Table 4.1.3 Key Balance Sheet Indicators

| (In US\$ billions unless indicated otherwise) | 2023 | 2022 | 2021 | 2020 | 2019 | Y/Y Change <br> (\%) |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: |
| Capital and Surplus | $\mathbf{1 3 5 . 0}$ | $\mathbf{1 1 6 . 8}$ | $\mathbf{1 2 9 . 5}$ | $\mathbf{1 1 9 . 0}$ | $\mathbf{9 7 . 2}$ | 15.6 |
| Total Assets | $\mathbf{1 , 2 7 4 . 6}$ | $\mathbf{1 , 1 0 0 . 8}$ | $\mathbf{1 , 0 7 0 . 6}$ | $\mathbf{8 6 2 . 8}$ | $\mathbf{6 6 3 . 5}$ | 15.8 |
| Total Liabilities | $\mathbf{1 , 1 3 9 . 6}$ | $\mathbf{9 8 4 . 0}$ | $\mathbf{9 4 1 . 1}$ | $\mathbf{7 4 3 . 8}$ | $\mathbf{5 6 6 . 2}$ | 15.8 |
| Net Written Premium (NWP)/Equity (\%) | $\mathbf{9 3 . 1}$ | $\mathbf{8 4 . 3}$ | $\mathbf{7 7 . 9}$ | $\mathbf{9 9 . 3}$ | $\mathbf{7 4 . 7}$ | 10.5 |
| Reserve Leverage (\%) | $\mathbf{7 6 6 . 7}$ | $\mathbf{7 8 2 . 3}$ | $\mathbf{6 7 1 . 3}$ | $\mathbf{5 6 5 . 7}$ | $\mathbf{5 2 5 . 4}$ | -2.0 |

Key Highlights:

- Total assets increased by US\$173.8 billion in 2023, rising to US\$1,274.6 billion from US\$1,100.8 billion
- Total liabilities stood at US\$1,139.6 billion at year-end 2023, up from US\$984.0 billion compared to the prior year. This represents a $15.8 \%$ increase $y / y$
- In aggregate, the excess assets over liabilities remained at $11.8 \%$ in 2023, equal to 2022
- Capital and surplus increased $15.6 \%$ to US\$135.0 billion, up from $\$ 116.8$ billion $\mathrm{y} / \mathrm{y}$
- Reported insurance reserves were 766.7\% of corresponding capital and surplus at yearend 2023, down 2.0\% from 2022 because of a larger increase in capital and surplus relative to the increase in insurance reserves

Figure 4.1.4 Total Assets, Liabilities and Capital and Surplus YE2019 - YE2023
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-12.jpg?height=789&width=1383&top_left_y=1550&top_left_x=339" alt="image" style="width:100%;height:auto;">

Figure 4.1.4 above shows the progression of assets, liabilities and capital and surplus for the sector over the last five years. Key financial, capital and profitability indicators are captured in the tables below for Bermuda's long-term insurers for the years ending 2019 through 2023.

Table 4.1.5 Key Income Statement Indicators

| (In US\$ billions) | 2023 | 2022 | 2021 | 2020 | 2019 | Y/Y Change <br> (\%) |
| :---: | :---: | :---: | :---: | :---: | :---: | :---: |
| Gross Written <br> Premiums | 169.8 | 137.0 | 135.7 | 171.5 | 80.3 | 24.0 |
| NWP | 125.7 | 98.4 | 100.9 | 118.2 | 72.6 | 27.7 |
| Total Expenses | 12.2 | 16.3 | 8.7 | 13.0 | 12.3 | -25.4 |
| Total Policyholder Claims and Benefits Paid | 67.2 | 61.5 | 50.4 | 52.8 | 36.6 | 9.2 |
| Investment Income | 41.9 | 0.5 | 24.3 | 32.6 | 31.4 | 8684.0 |
| Net Income | 10.4 | 11.0 | 15.0 | 15.7 | 18.3 | -6.0 |

Operationally, firms reported a net income of US\$10.4 billion in 2023, down slightly when compared to the net income of US\$11.0 billion reported in 2022. This is in contrast to the investment income of US\$41.9 billion, which is comparable to historical norms and reflects the strong 2023 investment environment. Total Policyholder Claims and Benefits Paid increased by 9.2\% to US\$67.2 billion in 2023, from US\$61.5 billion in 2022. Total Policyholder Claims and Benefits Paid over the five-year period were US $\$ 268.6$ billion.

Table 4.1.6 Aggregate Capital Structure

| (In US\$ billions unless indicated otherwise) | 2023 | 2022 | 2021 | 2020 | 2019 | Y/Y Change |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: |
| $(\%)$ |  |  |  |  |  |  |

The sector's total capital and surplus increased by $15.6 \%$ to US\$135.0 billion from US\$116.8 billion in 2022. Aggregate sector assets were 9.44 times (or $944.0 \%$ of) capital and surplus and this proportion held steady $\mathrm{y} / \mathrm{y}$. Conversely, total capital and surplus remained at $10.6 \%$ of total assets $\mathrm{y} / \mathrm{y}$. Insurance reserves increased 13.3\% $\mathrm{y} / \mathrm{y}$ to US\$1,035.2 billion and amounted to 81.2\% of assets held by long-term insurers, a decrease from 83.0\% reported in 2022.

### 4.2 Additional Performance Indicators

Key financial return indicators are given in Table 4.2.1. Return on assets reduced to $0.8 \%$ from 1.0\% in 2022. Return on equity reduced to 7.7\% from 9.5\% in 2022 and Return on Investment
increased to $3.9 \%$, up from near $0 \%$ in 2022. The changing return profile of Bermuda's longterm sector over the five-year period reflects the increasing size and diversity of the sector.

Table 4.2.1 Return on Assets, Equity and Investment ${ }^{5}$

| (In per cent) | 2023 | 2022 | 2021 | 2020 | 2019 | Y/Y Change <br> $(\%)$ |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: |
| Return on Assets (RoA) | 0.8 | 1.0 | 1.4 | 1.8 | 2.8 | -18.8 |
| Return on Equity (RoE) | 7.7 | $\mathbf{9 . 5}$ | $\mathbf{1 1 . 6}$ | $\mathbf{1 3 . 1}$ | $\mathbf{1 8 . 8}$ | -18.6 |
| Return on Investment (RoI) | 3.9 | $\mathbf{0 . 1}$ | 2.7 | 4.5 | 5.8 | 7567.4 |

The figures below provide a comparison of key performance indicators y/y. Figure 4.2.2 indicates the movement of gross written premium, net written premium, policyholder claims and benefits paid and expenses. Figure 4.2.3 is a boxplot showing the $25^{\text {th }}$ percentile, median and $75^{\text {th }}$ percentile of total assets to capital and surplus. The median value in 2023 of total assets as a multiple of capital and surplus is 8.4 , compared to 7.3 times capital and surplus in 2022.

Figure 4.2.2 Gross and Net Premiums, Claims ${ }^{6}$ and Expenses
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-14.jpg?height=447&width=792&top_left_y=1310&top_left_x=249" alt="image" style="width:100%;height:auto;">

Figure 4.2.3 Assets as a Percentage of Capital and Surplus
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-14.jpg?height=457&width=672&top_left_y=1302&top_left_x=1035" alt="image" style="width:100%;height:auto;">

### 4.3 Lines of Business and Geographical Breakdown of Policyholder Claims and Benefits Paid and Reserves

Bermuda's long-term sector is comprised of direct and indirect (re)insurers underwriting risks ranging from mortality, longevity, critical illness, disability and group life, among other products, predominantly on a portfolio or cohort basis. The reserves attributed to key lines of business are shown in Figure 4.3.1. The exposures, as determined by reserves, are located predominantly in the US and, to a much lesser extent, in Asia.

[^3]Table 4.3.1 Reserves by Key Lines of Business

| (In US\$ billions unless indicated otherwise) | 2023 | 2022 | 2021 | 2020 | 2019 | Y/Y Change <br> (\%) |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: |
| Deferred Annuities | 341.2 | 263.5 | 272.6 | 286.7 | 206.0 | 29.5 |
| Mortality | 255.3 | 229.8 | 171.8 | 154.3 | 144.3 | 11.1 |
| Longevity - Immediate | 120.6 | 107.6 | 124.5 | 111.3 | $\mathbf{8 1 . 4}$ | 12.1 |
| Annuities Certain | 52.3 | $\mathbf{8 3 . 2}$ | 77.6 | 66.6 | 59.2 | -37.2 |
| Longevity - Deferred | 14.1 | 15.6 | 16.0 | 12.2 | 10.3 | -9.6 |
| Critical Illness | 29.6 | 15.9 | $\mathbf{9 . 2}$ | 7.2 | $\mathbf{6 . 0}$ | 85.7 |
| All Others | 23.0 | 24.8 | 24.3 | 16.5 | 14.6 | -7.3 |

Figure 4.3.2 - Bermuda Long-term Insurance Sector Reserves by Key Lines of Business
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-15.jpg?height=544&width=1703&top_left_y=896&top_left_x=242" alt="image" style="width:100%;height:auto;">

The Bermuda long-term insurance sector liabilities are broken down by geographical distribution in Tables 4.3.3 below. The US accounted for 71.8\% of liabilities in 2023, 67.0\% in 2022 and 61.5\% in 2023. Please note that the values used in this figure are available only from the year 2021 onwards.

Figure 4.3.3 Geographical Distribution of Reserves for YE2023, YE2022 and YE2021
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-15.jpg?height=672&width=1666&top_left_y=1920&top_left_x=241" alt="image" style="width:100%;height:auto;">

### 4.4 Asset, Reserve and Liquidity Indicators

Firms reported US\$129.4 billion of reinsurance assets at year-end 2023, down 9.1\% from US $\$ 142.3$ billion in 2022. The expense-to-assets ratio of $1.0 \%$ in 2023 was down more than a third from a $1.5 \%$ ratio in 2022. Total payouts represented $5.6 \%$ of total reserves at year-end 2023, down 17.1\% from 6.7\% in 2022.

Table 4.4.1 Expense Ratio, Payouts as a Percentage of Reserves and Reinsurance Assets

| (In per cent unless indicated otherwise) | 2023 | 2022 | 2021 | 2020 | 2019 | Y/Y Change (\%) |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: |
| Total Expense/Total Assets | $\mathbf{1 . 0}$ | $\mathbf{1 . 5}$ | $\mathbf{0 . 8}$ | $\mathbf{1 . 5}$ | $\mathbf{1 . 9}$ | -35.6 |
| Policyholder Claims and Benefits Paid/ Reserves | $\mathbf{6 . 5}$ | $\mathbf{6 . 7}$ | $\mathbf{5 . 8}$ | $\mathbf{7 . 8}$ | $\mathbf{7 . 2}$ | -3.6 |

At the end of 2023, cash holdings, sovereign bonds and corporate bonds constituted 64.2\% of the asset allocation for Bermuda's long-term sector, followed by Mortgage-backed Securities (MBSs) and Asset-backed Securities (ABS) at 18.7\%. This compares to holdings of 63.5\% for cash and sovereign and corporate bonds and 18.0\% for mortgage and ABS in 2022. Figure 4.4.2 visually shows the composition of assets over the five-year period from 2019 to 2023. Holdings of cash and cash equivalents, sovereign bonds, and corporate bonds are greater than 60\% each year.

Figure 4.4.2 Composition of Investments in Percentage
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-16.jpg?height=666&width=1372&top_left_y=1597&top_left_x=342" alt="image" style="width:100%;height:auto;">

Table 4.4.3 below gives a breakdown of assets held by Bermuda's long-term insurers by the type of assets. Table 4.4.4 provides a categorisation of investments held by quality type at yearend for the period 2019 to $2023 .{ }^{7}$

[^4]The largest allocation for the sector is in corporate bonds, representing $55.7 \%$ of total investments at year-end 2023, down from 56.3\% in 2022. The largest aggregate movement was with equity holdings, which reduced by $25 \%$ of total investments. Sovereign bonds increased by a similar percentage.

Table 4.4.3 Asset Classes as a Percentage of Total Investments

| (In per cent) | 2023 | 2022 | 2021 | 2020 | 2019 | Y/Y Change (\%) |
| :---: | :---: | :---: | :---: | :---: | :---: | :---: |
| Corporate Bonds | 55.7 | 56.3 | 54.7 | 57.0 | 55.9 | -1.1 |
| Commercial MBS and ABS | 15.5 | 15.1 | 15.5 | 12.2 | 10.4 | 2.6 |
| Investments in Mortgage Loans | 9.7 | 9.0 | 7.8 | 5.7 | 6.1 | 7.8 |
| Sovereign Bonds | 6.1 | 4.9 | 5.9 | 8.1 | 8.5 | 24.5 |
| Equities | 5.6 | 7.4 | 8.6 | 8.6 | 8.9 | -24.9 |
| Residential MBS | 3.2 | 2.9 | 3.3 | 4.8 | 6.2 | 9.3 |
| Cash and Cash Equivalents | 2.4 | 2.3 | 2.2 | 1.9 | 2.1 | 4.0 |
| Equity-type Investments | 1.6 | 1.8 | 1.5 | 1.4 | 1.5 | -10.2 |
| Bond Mutual Funds | 0.3 | 0.3 | 0.4 | 0.4 | 0.4 | -6.9 |

For year-end 2023, fixed-income securities with an investment-grade rating represented $78.4 \%$ of total investments at year-end 2023, up $2.4 \% \mathrm{y} / \mathrm{y}$. Securities with sub-investmentgrade ratings make up $3.1 \%$ of total investments, while $1.2 \%$ of total investments are unrated and $17.3 \%$ of total investments are in the non-fixed-income class. Overall, the Bermuda longterm sector shifted investments to higher-quality assets in 2023.

Table 4.4.4 Investment Rating Classes

| (In per cent) | 2023 | 2022 | 2021 | 2020 | 2019 | Y/Y Change <br> $(\%)$ |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: |
| Investment Grade Investments/Total Investments | 78.4 | 76.6 | 76.6 | 78.7 | 78.2 | 2.4 |
| Non-Investment Grade Investments/Total <br> Investments | $\mathbf{3 . 1}$ | 3.6 | 3.8 | 4.1 | 3.6 | -15.9 |
| Unrated Investments/Total Investments | 1.2 | 1.2 | 1.2 | 1.3 | 1.4 | 2.9 |
| Non-Fixed Income Investments/Total Investments | 17.3 | 18.6 | 18.4 | 15.9 | 16.8 | -7.1 |

Total bonds held by long-term insurers, categorised by BSCR Rating, are shown in Figure 4.4.5 below. Bond holdings with a rating of BBB or better represent $94.8 \%$ of total bonds at YE2023, which was flat $\mathrm{y} / \mathrm{y}$.

Figure 4.4.5 Bonds Grouped by BSCR Rating
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-18.jpg?height=769&width=1591&top_left_y=364&top_left_x=238" alt="image" style="width:100%;height:auto;">

The boxplots shown in Figure 4.4.6 provide a look into the distribution of asset quality against total investments held by firms in Bermuda's long-term insurance sector. The median holding of corporate and sovereign bonds was $76.5 \%$ at year-end 2023, down slightly from a median of $77.2 \%$ in 2022. The median of investment-grade assets to total investments remained relatively stable at $90.9 \%$ in 2023 versus $89.7 \%$ in 2022.

Figure 4.4.6 Box and Whisker Plots of Asset Quality
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-18.jpg?height=532&width=1530&top_left_y=1710&top_left_x=263" alt="image" style="width:100%;height:auto;">
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-19.jpg?height=549&width=1538&top_left_y=228&top_left_x=259" alt="image" style="width:100%;height:auto;">

Table 4.4.7 lists liquidity indicators by comparing cash and assets with higher rating levels to assets, liabilities, reserves and policyholder claims and benefits paid. Cash investments are defined as cash, cash equivalents and sovereign bonds. These comprise 7.1\% of total assets, $8.0 \%$ of total liabilities and $157.0 \%$ of payouts. The sum of 'AAA', 'AA', 'A' and 'BBB' securities accounts for $58.9 \%$ of assets and covers $65.9 \%$ of liabilities and 1,299.1\% of payouts in 2023.

Table 4.4.7 Indicators of Asset Liquidity*

| (In per cent) | 2023 | 2022 | 2021 | 2020 | 2019 | Y/Y Change <br> $(\%)$ |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: |
| Cash Investments/Total Assets | 7.1 | 5.8 | $\mathbf{6 . 0}$ | 7.3 | 7.7 | 23.4 |
| Cash Investments/Total Liabilities | $\mathbf{8 . 0}$ | $\mathbf{6 . 5}$ | $\mathbf{6 . 9}$ | $\mathbf{8 . 5}$ | $\mathbf{9 . 0}$ | 23.4 |
| Cash Investments/Reserves | $\mathbf{8 . 8}$ | $\mathbf{6 . 9}$ | 7.4 | $\mathbf{9 . 4}$ | $\mathbf{9 . 9}$ | 26.1 |
| Cash Investments/Policyholder Claims and <br> Benefits Paid | $\mathbf{1 3 5 . 0}$ | $\mathbf{1 0 3 . 2}$ | $\mathbf{1 2 8 . 1}$ | $\mathbf{1 1 9 . 8}$ | $\mathbf{1 3 8 . 6}$ | 30.9 |
| "AAA-BBB" Assets/Total Assets | $\mathbf{5 8 . 9}$ | $\mathbf{5 5 . 9}$ | $\mathbf{5 1 . 4}$ | $\mathbf{5 0 . 8}$ | $\mathbf{4 9 . 3}$ | 5.4 |
| "AAA-BBB" Assets/Total Liabilities | $\mathbf{6 5 . 9}$ | $\mathbf{6 2 . 5}$ | $\mathbf{5 8 . 5}$ | $\mathbf{5 8 . 9}$ | $\mathbf{5 7 . 8}$ | 5.4 |
| "AAA-BBB" Assets/Insurance Reserves | $\mathbf{7 2 . 5}$ | $\mathbf{6 7 . 3}$ | $\mathbf{6 3 . 3}$ | $\mathbf{6 5 . 1}$ | $\mathbf{6 4 . 1}$ | $\mathbf{7 . 8}$ |
| "AAA-BBB" Assets/Policyholder claims and <br> Benefits Paid | $\mathbf{1 , 2 9 9 . 1}$ | $\mathbf{9 9 9 . 6}$ | $\mathbf{1 , 0 9 1 . 0}$ | $\mathbf{8 3 0 . 6}$ | $\mathbf{8 9 3 . 8}$ | 30.0 |

[^5]
## 5. Stress Testing Analysis

Stress testing is an important supervisory tool for the BMA because it helps to assess a firm's capital adequacy under adverse financial markets and stressed liquidity conditions. In addition, the Authority can analyse the long-term insurance sector's vulnerability to certain shocks by aggregating each scenario across firms. More specifically, the tests aim to assess the impact of the severe but plausible losses on the insurer's Economic Balance Sheet (EBS). Thus, these tests help assess the financial capacity of an insurer to absorb the manifestation of key financial risks and provide insight into the risks to the financial stability of the sector. Moreover, analysing of micro and macroprudential results can inform recovery planning and resolvability assessments.

Section 5.1 provides a quantitative summary of the aggregated results of R1 to R8 financial market scenarios submitted in Schedule V(e) of the 2023 year-end Capital and Solvency Return ${ }^{8}$. The Authority undertook an extensive review into the results of the new liquidity stress test (R9) and has published an extensive report on Liquidity Stress in Bermuda's long-term sector, details are provided in section 5.2.

Financial Market Scenarios

The nine financial market scenarios, labelled R1 to R9, comprise capital market-related singlefactor shocks triggered by specific risk factors (i.e., equity returns, credit spreads and defaults, liquidity, etc.). The stress scenarios are calibrated to the evolution of interest rates, exchange rates and equity markets, among other historical financial market information. Additionally, the financial market scenarios included the impact of haircuts on sovereign bonds to capital and surplus. These scenarios acknowledge continued stresses to global financial stability and sovereign risk concerns. The ongoing political risk and volatility of capital flows also warrant shocks on foreign currency positions.

Specifically, depending on the insurer's exposure to capital market-related factors, the insurer was required to quantify the impact on its EBS from nine different financial market scenarios. Figure 5.1 shows the capital and surplus after the impact of the first eight scenarios. The R9 long-term liquidity stress test is a multi-factor stress, allowing for a more detailed analysis of

[^6]analysis - Class E, Class D and Class C' published on the Authority's website.
the results. Accordingly, the Authority published Liquidity Risk in the Bermuda Long-term Insurance Market, which analysed the results of liquidity stress tests from the 2023 year-end filings. Highlights from that report are included in Section 5.2.

### 5.1 Summary of Capital and ECR Impact of Financial Market Scenarios (R1 to R8)

Figure 5.1.1 2023YE Total Capital and Surplus Exposed by Scenario (R1 - R8)
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-21.jpg?height=835&width=1646&top_left_y=822&top_left_x=245" alt="image" style="width:100%;height:auto;">

Modelling rates of the financial market scenarios R1 to R8 continue to be high, with roughly $98 \%$ of long-term insurers' EBS capital and surplus ${ }^{9}$ subjected to at least one of the eight financial market stresses. On an individual scenario basis, over $75 \%$ of sector capital and surplus is exposed to all but one scenario, as shown in Figure 5.1.1

[^7]Figure 5.1.2 Impact of Financial Market Scenarios R1 - R8 on Sectoral Enhanced Capital Requirement Ratio
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-22.jpg?height=649&width=1631&top_left_y=481&top_left_x=241" alt="image" style="width:100%;height:auto;">

At year-end 2023, long-term commercial insurers continue to show resilience to capital market stress both at a micro-prudential and at the macro-prudential level, as shown in Figure 5.1.2. In aggregate, the two largest losses to capital and surplus from a single stress came from the credit spread stress scenario (R4) where the sectoral ECR drops from pre-stress level of 260\% to $217 \%$ post-stress and then from the $40 \%$ decline in alternative investments and real estate (R2), with a similar percentage drop in aggregate capital. The new deflation stress scenario indicates that, in aggregate, the capital position of firms improves in a deflationary scenario, with aggregate capital improving with -1\% deflation for year-end 2023.

Figure 5.1.3 Impact of Financial Market Scenarios R1 - R8 on

Sectoral Capital and Surplus

<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-23.jpg?height=843&width=1554&top_left_y=412&top_left_x=254" alt="image" style="width:100%;height:auto;">

Figure 5.1.3 shows the percentage of starting capital (represented as $100 \%$ above for each scenario) and surplus remaining after the impact of the specific scenarios R1 to R8. The "C\&S post-scenario" is the sectoral level of capital and surplus remaining (in percentage) after the loss of each scenario. The figure also includes the simple mean and median (i.e., the green and red dots) by taking the average and median of the percentage loss of the firms reporting by scenario. These metrics provide additional insight into the distribution of results by scenario.

The boxplots shown in Figure 5.1.4 below show the distribution of the impact on ECR ratios across the firms by scenario, including the median (red dot). The box plots show the $25^{\text {th }}$ percentile (lower bar), the median (middle bar), and the $75^{\text {th }}$ percentile (upper bar). The upper and lower lines (or whiskers) show the distance to the $90^{\text {th }}$ and $10^{\text {th }}$ percentile, respectively. Considering the single-shock scenarios, the lowest median post-stress ECR ratio of 212\% occurs after R4. The multi-factor shock scenario R5 results in a median ECR ratio of 172\%.

Figure 5.1.4 Boxplots of ECR Ratios Post-stress by Scenario
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-24.jpg?height=692&width=1560&top_left_y=339&top_left_x=251" alt="image" style="width:100%;height:auto;">

R1 - Severe decline in equity prices ${ }^{\mathbf{1 0}}$ : This stress is a decrease of $40 \%$ of the value of equities in a portfolio. This stress scenario is consistent with the Black Monday crash of 1987. If there are hedging instruments for equity exposures, their hedging result should be recorded separately. If hedging is done through replication strategies or continuous rollover of assets, this should be mentioned in the stress test result. Short positions are considered hedging positions. Material equity derivative positions should also be included in the test. The result of this scenario shows that the simple mean and median post-stress capital and surplus were $94.0 \%$ and $96.2 \%$, respectively.

R2 - Alternative investment and real estate: This stress is related to investment holdings in hedge funds, ILSs, real estate, private placements, venture capital and other types of securities that cannot be characterised as equity, bonds, cash, foreign exchange and mutual funds in typical asset categories or participations to other corporations excluding venture capital. The typical characteristics of these assets are low correlation with financial markets and low or lower liquidity compared with typical financial assets. Such assets should be decreased in value by $40 \%$. For assets such as hedge funds with lockup periods, venture capital and real estate in illiquid markets, the (re)insurer should report whether sudden decreases in their value could entail an inability for rapid sale and whether this effect has material consequences. The result of this scenario shows that the simple mean and median post-stress capital and surplus were 86.4\% and $89.7 \%$, respectively.

[^8]R3 - Yield curve stress: This stress refers to moderate and severe movements in global yields. The (re)insurer should apply the following absolute stresses to the yield curves used for the valuation of assets and liabilities. The stress will apply to all yield curves used (explicitly or implicitly) in those valuations, including (but not limited to) the published risk-free or standard curves, curves used in the SBA calculation, any other curve used for DCF-style calculations and yields used to predict policyholder behaviour. Corporate rates should be revalued assuming constant credit spreads. The resulting yields should not be floored at zero in any of the scenarios. Insurers are to report the Moderate Widening scenario - Moderate Widening in yields across all maturities.

| Table 1 - Yield Curve Scenarios |  |
| :--- | :--- |
| Scenario | Stress |
| Moderate Widening | $1 \%$ increase in yields across all maturities |
| Moderate Tightening | $1 \%$ decrease in yields across all maturities |
| Severe Widening | $2 \%$ increase in yields across all maturities |
| Severe Tightening | $2 \%$ decrease in yields across all maturities |

Figure taken from '2023 Capital and Solvency Return: stress/scenario analysis - Class E, Class D and Class C'
The result of this scenario shows that the simple mean and median post-stress capital and surplus were $101.8 \%$ and $97.9 \%$, respectively. In the case of the simple mean, there are several firms reporting a small improvement to capital as a result of this stress scenario.

R4 - General widening of credit spreads: Credit spreads widen across different rating classes. The widening reflects the increase of the perceived credit risk in the market. The table below summarises the shocks.

| Table 2. Credit Spread Widening |  |  |  |  |  |
| :---: | :---: | :---: | :---: | :---: | :---: |
| In basis points |  |  |  |  |  |
| AAA | AA | Rating Category |  |  |  |
| 199.6 | 249.0 | 241.5 | BBB | BB | Below BB |

Figure taken from '2023 Capital and Solvency Return: stress/scenario analysis - Class E, Class D and Class C'
All positions including available for sale and held to maturity should be stressed. Structured finance products, asset-backed securities, agency and non-agency MBSs must be included as well. If there is no rating for an asset, the (re)insurer must assume that the rating is Below BB. CAT Bonds are treated as alternative investments and not as assets susceptible to credit spread changes. The result of this scenario shows that the simple mean and median post-stress capital and surplus were $81.6 \%$ and $86.7 \%$, respectively.

R5-Combine R1 to R4: This stress combines the moderate widening stress from R3 with the stresses from R1, R2 and R4. This means that corporate bonds must be revalued using the riskfree curve and prevailing credit spread at the valuation date, plus the moderate widening scenario from R3 and the widening of credit spreads from R4. Sovereign bonds and other assets with DCF-style valuation methods should be valued as in R3. The result of this scenario shows that the simple mean and median post-stress capital and surplus were $67.3 \%$ and $76.3 \%$, respectively.

R6 - Foreign currency shocks: This stress applies an equal percentage of depreciation and/or appreciation of foreign exchange positions in assets and liabilities when these shocks reduce the value of assets and increase the value of liabilities. When a Foreign Exchange (FX) liability is passed on to the party claiming the liability, the shock can be excluded for such positions. The following table provides the percentage depreciations/appreciations. Hedging of FX positions should be reported separately, especially if hedging is done with roll-over strategies. The result of this scenario shows that the simple mean and median post-stress capital and surplus were $89.3 \%$ and $94.1 \%$, respectively.

R7 - Escalation of sovereign risk: In this stress, the weakest sovereigns must undergo a haircut in the face value of their debt. Both bonds available for sale and held to maturity should be stressed. The result of this scenario shows that the sample mean and median post-stress capital and surplus were 99.3\% and 99.9\%, respectively.

R8 - Inflation and monetary policy risk: This stress applies to three inflation-related scenarios: moderate, severe, and deflation. Inflation risk stems from the general uncertainty of prices. Higher-than-expected inflation decreases the real yield on loans and debts while it may increase the value of indemnities, payouts and expenses. This stress simulates a scenario similar to the 2022 inflationary scenario. The (re)insurer should apply each inflation scenario for three years, assuming no initial action from central banks to curb inflation. In year four, the central bank changed its stance and increased rates to restore the current real interest rate. From year five onwards, inflation and interest rates return to current levels. These stresses should be additively applied to the prevailing annual inflation/interest rate assumption used in valuing assets and liabilities (e.g., if the prevailing assumption is $3 \%$ p.a., then the moderately stressed assumption should be $8 \%$ p.a. for the first four years before returning to $3 \%$ p.a.).

The moderate inflation ( $+5 \%$ ) stress scenario result shows that the simple mean and median post-stress capital and surplus were $95.2 \%$ and $96.5 \%$, respectively.

The severe inflation (+10\%) stress scenario results show that the simple mean and median poststress capital and surplus were $87.7 \%$ and $91.9 \%$, respectively.

The result for the deflation (-1\%) stress scenario shows that the simple mean and median poststress capital and surplus were $101.2 \%$ and $101.6 \%$, respectively.

### 5.2 Summary of Liquidity Stress Test (R9)

In August 2024, the BMA published a report called Liquidity Risk in the Bermuda Long-term Insurance Market, which delves into the liquidity risk profile of Bermuda's long-term insurers. A brief summary of the key results presented in the report is included below:

- Bermuda long-term insurers maintain a substantial portion of their assets in liquid forms, such as cash, corporate bonds and sovereign securities. This diversification against less liquid liabilities with early surrender penalties on the balance sheets results in long-term insurers having relatively high Liquidity Coverage Ratios (LCR). The median LCR is 418\% post 1-200 years stress test.
- These market averages are significantly higher than the minimum LCR requirement of 105\%, which indicates sufficient liquid assets that can be used to meet (immediate) outgoing liability cashflows in a stress event that impacts both assets and liabilities adversely
- While the overall long-term sector in Bermuda shows strong resilience against liquidity shocks, there are companies that face liquidity shortages under the BMA stress scenarios. The Authority engages with the management of these companies to ensure adequate risk mitigation measures. This is achieved through company-specific deep dives. as well as targeted sector-wide assessments and the Commercial Insurer's Solvency Self Assessment (CISSA) process in which insurers are required to run company-specific liquidity stress tests

The LCR results for YE2023 reporting are depicted in Figure 5.2.1. The weighted average and median ${ }^{11}$ LCR post-stress are shown in Table 5.2.1.

[^9]Figure 5.2.1 Year End Overall LCR
<img src="https://cdn.mathpix.com/cropped/2024_12_21_34fbad858ec33ef1294dg-28.jpg?height=815&width=1300&top_left_y=409&top_left_x=378" alt="image" style="width:100%;height:auto;">

Table 5.2.1 LCR Ratio Year End 2023

| LCR Post-stress | 1 in 20 | 1 in 200 |
| :--- | :---: | :---: |
| Weighted Average | $1009 \%$ | $527 \%$ |
| Median | $562 \%$ | $418 \%$ |

## 6. Bermuda Long-term Sector Highlights from Other BMA Reports ${ }^{12}$

In August and September 2024, the BMA published three papers as part of its ongoing effort to share supervisory experiences and contribute to a better understanding of the risks, potential benefits and safeguards associated with the structural shifts and trends in the insurance industry, especially the evolution of investment strategies in the global life and annuity sector. These papers address detailed technical issues, observed data and trends that form the basis for a deeper market understanding. The first report entitled, Liquidity Risk in the Bermuda Longterm Insurance Market, delves into the liquidity risk profile of Bermuda long-term insurers with highlights provided in Section 5.2 of this report.

[^10]The second report entitled, Collateral Structures in the Bermuda Long-term Insurance Market, reflects fundamental concepts and data that appropriately characterises the Bermuda Long-term Insurance Market. Importantly, 80\% of the long-term reinsurance business in Bermuda is conducted on a collateralised basis through structures such as Funds Withheld (FWH), Modified Coinsurance (ModCo) or another type of collateral account, e.g., collateral trusts. With these kinds of collateral structures, the economic consequences of the reinsured business (i.e., any financial gain or loss of the underlying assets and liabilities) is transferred to the reinsurer instead of the asset and the cedent retains the assets in the collateral account. The collateral custody account is typically maintained in the ceding jurisdiction. As a result, the reinsurer counterparty credit risk is significantly reduced, especially when complemented with several good governance contractual provisions. such as the following:

- Over-collateralisation using the cedant accounting basis
- Cedant's audit rights over the collateral account
- Cedant's ability to independently monitor asset composition on an ongoing basis
- Cedant's ability to independently value assets regularly
- Regular reporting to the cedent
- Ensuring that the cedent is a key participant in asset management decisions
- Using ladder of recapture provisions that will kick-in well before the reinsurer's financial position is troubled

This ladder of recapture provisions is important when assessing potential systemic risk. There is an erroneous perception that that the assets backing reserves are transferred to Bermuda longterm reinsurers and that the Bermuda reinsurers have full, unrestricted discretion over those assets. This has created misconceptions about whether or not there is financial stability risk. A focus on gross assets (i.e., without reflecting the collateral contractual guardrails and cedants' rights) exaggerates the aggregate level of exposure and influence that Bermuda insurers and reinsurers have over the assets covered under the reinsurance agreements.

The third report entitled, Private Credit - Deep dive on Direct Loans, CLOs, and Private Placements, covers the role these instruments play in Bermuda's long-term insurance market. Highlights include the following:

- The historical realised credit loss experience of these asset classes overall compares favourably to public investments of similar credit quality
- The overall exposure of Bermuda's long-term insurers to these assets remains moderate and should be viewed against the characteristics of the liabilities they are backing. The large majority of the investments of Bermuda insurers in these assets are investment grade (e.g., 80\%+ of private placement and 90\%+ of CLO investments are investment grade for Bermuda asset-intensive (re)insurers, as noted later in the report)
- Despite the favourable historical track record, recent developments have increased the uncertainty around the credit performance of some of these assets (e.g., leveraged loans) on a forward-looking basis. This includes signs of recent below-average and declining recovery rates on first-lien loans, driven, among other things, by higher indebtedness of accepted borrowers, changes in loan/financing structures (higher first-lien debt leverage, reduced junior debt cushions), and less contractual creditor protections (socalled covenant-lite loans). The recent interest rate hikes have also put significant pressure on weaker borrowers with floating-rate loans. When leveraging historical performance data for assessments of future performance, the evolution of collateral characteristics for leveraged loans and CLOs over time should be considered.


[^0]:    ${ }^{1}$ The Capital and Solvency return is an annual return relating to an insurer's risk management practices and information used by an insurer to calculate its Enhanced Capital Requirement (ECR) and Target Capital Level (TCL). Bermuda's EBS framework forms the basis used to determine capital requirements for Bermuda commercial insurers. Specifically with respect to insurance liabilities, ‘Technical Provisions’ is established as the sum of a best estimate liability and a risk margin.
    ${ }^{2}$ All ECR ratios are presented using the consolidated financial statements and using the EBS basis.

[^1]:    ${ }^{3}$ Please refer to https://www.bma.bm/insurance-licensing for a definition of Class A and Class B insurers.

[^2]:    ${ }^{4}$ Policyholder Claims and Benefits Paid are life claims, policyholders' dividends, surrenders, maturities, annuities and accident and health benefits.

[^3]:    5 'Return on Assets' is Net Income as a proportion of Assets, 'Return on Equity' is Net Income as a proportion of Capital and Surplus and 'Return on Investment' is Investment Income as a proportion of total investments.
    ${ }^{6}$ Claims include all policyholder claims and benefits paid

[^4]:    ${ }^{7}$ Tables 4.4.3 and 4.4.4 are based on BSCR Schedule II data, which differs from Schedule VI data used in the Long-Term reports published by the BMA in August / September 2024.

[^5]:    *Note: AAA refers to the rating category of investment assets held by firms. Cash investments include i) sovereign debt issued by a country in its currency that is rated AA- or better, and ii) debt issued by government-owned and related entities that were explicitly guaranteed by that government, except for MBSs.

[^6]:    ${ }^{8}$ An overview of the stress/scenarios carried out by long-term insurers can be found in the '2023 Capital and Solvency Return: stress/scenario

[^7]:    ${ }^{9}$ Data is as of 20 November 2024 and is subject to change after this date.

[^8]:    ${ }^{10}$ Full instructions, details and exhibits of Stress Scenarios can be found in the '2023 Capital and Solvency Return: stress/scenario analysis Class E, Class D and Class C' published on the Authority's website.

[^9]:    ${ }^{11}$ Outliers with very high liquidity ratios were excluded.

[^10]:    ${ }^{12}$ Full reports can be found on the BMA's website.

